header > p {
    text-align: center;
    font-size: 8em;
    font-family: sans-serif;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tts-eval-app {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#exp-sel-bar {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-bottom: 5px;
    justify-content: space-around;
    align-items: center;
}

.exp-sel-button {
    width: 100px;
    margin: 2px auto 2px auto;
}

#exp-body{
    width: 400px;
}

.aud_sel_wrapper {
    display: flex;
    flex-direction: row;
}

.audio_wrapper {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: space-around;
}

.select_wrapper {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn_wrapper {
    display: flex;
    height: 3em;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    width: 30%;
    height: 2em;
    border: medium groove cyan;
    align-items: center;
    justify-content: space-around;
}

 .btn:hover {
     border-color: cornflowerblue;
 }

 .box_info {
    display: flex;
    min-height: 2em;
    width: 100%;
    border-top: thin groove indianred;
    border-bottom: thin groove indianred;
    align-items: center;
    justify-content: space-around;
 }