h1 {
    font-size: 6em;
}

header > p {
    text-align: center;
    font-size: 8em;
    font-family: sans-serif;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.eval_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.EVAL_sel_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eval_selector {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-bottom: 5px;
    justify-content: space-around;
    align-items: center;
}

#eval_selector > .btn {
    width: 100px;
    margin: 2px auto 2px auto;
}

#expbodys_wrapper {
    width: 400px;
}

.EVAL_wrapper {
    display: none;  /* if turned on, it should be 'flex' */
    flex-direction: column;
    align-items: center;
}

.EVAL_wrapper > div {
    width: 40%;
    min-width: 400px;
}

.aud_sel_wrapper {
    display: flex;
    flex-direction: row;
}

.audio_wrapper {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: space-around;
}

.audio_wrapper > div {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}

.select_wrapper {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-around;
}

.select_wrapper > div {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

audio {
    width: 98%;
}

select {
    width: 98%;
}

.btn_wrapper {
    display: flex;
    height: 3em;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    width: 30%;
    height: 2em;
    border: medium groove cyan;
    align-items: center;
    justify-content: space-around;
}

 .btn:hover {
     border-color: cornflowerblue;
 }

 .btn_single {
     width: 100%;
 }

 .box_info {
    display: flex;
    height: 2em;
    width: 100%;
    border-top: thin groove indianred;
    border-bottom: thin groove indianred;
    align-items: center;
    justify-content: space-around;
 }

 .box_step {
     width: 30%;
 }

 #save_result {
     justify-content: space-around;
     width: 400px;
 }